a {
  text-decoration: none;
}
.logo {
  float: right;
}
.code {
  font-family: monospace;
  background-color: #eeeeee;
  margin: 0 2ex;
  padding 1ex;
}
.subfig {
  float: left;
  text-align: center;
}
.subfig p {
  margin: 0 2em;
}
.subfig-after {
  clear: both;
  padding-top: 1em;
}

.cont {
  padding-right: 0.5em;
}

table {
  border-collapse: collapse;
  margin: 2ex;
  padding 1ex;
}

td {
  padding-right: 2em;
}

th {
  padding-right: 2em;
  text-align: left;
  border-bottom: 1px solid #000000;
}

tr:hover{
  background-color: #eeeeee;
}
